.tablero{
    width: 350px;
    height: 350px;
    background: violet;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
}

.casilla{
    width: 80px;
    height: 80px;
    background: gainsboro;
}

.blanco{
    width: 50px;
    height: 50px;
    background:white;
    border-radius: 50%;
}

.negro{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
}

#button{
    height: 200px;
    width: 200px;
    
}